* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transform {
    margin: 100px;
}

.transform div {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 5px;
    transform-origin: 0% 50px;
    transition: transform 0.1s 0.3s ease-in-out;
}

.transform div:hover {
    transform: rotate(90deg) scale(1.5);
}