* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    width: 500px;
    height: 500px;
    background-color: gray;
    position: relative;
}

.animation div {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
}

.animation div:nth-of-type(1) {
    animation: dots 4s linear 0s infinite forwards;
}

.animation div:nth-of-type(2) {
    animation: dots 4s linear 1s infinite forwards;
}

.animation div:nth-of-type(3) {
    animation: dots 4s linear 2s infinite forwards;
}

.animation div:nth-of-type(4) {
    animation: dots 4s linear 3s infinite forwards;
}

@keyframes dots {
    0% {
        transform: translate(0);
        background-color: red;
    }
    25% {
        transform: translate(450px, 0);
        background-color: yellow;
    }
    50% {
        transform: translate(450px, 450px);
        background-color: green;
    }
    75% {
        transform: translate(0, 450px);
        background-color: blue;
    }
    100% {
        transform: translate(0);
        background-color: red;
    }
}